<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Book List</h1>
    <table>
        <tr>
            <th>Book Id</th>
            <th>Book Title</th>
            <th>Author Name</th>
            <th>Description</th>
        </tr>
        <tr th:each="book: ${books}">
            <td th:text="${book.bookId}"/>
            <td th:text="${book.bookTitle}"/>
            <td th:text="${book.authorName}"/>
            <td th:text="${book.bookDescription}"/>
        </tr>
    </table>
</body>
</html>
